
@font-face {
  font-family: "BNazanin";
  src: url("../../public/fonts/BNazanin/BNazanin.eot?#") format("eot"),
    /* IE6–8 */ url("../../public/fonts/BNazanin/BNazanin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("../../public/fonts/BNazanin/BNazanin.ttf")
      format("truetype"); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: "IranNastaliq";
  src: url("../../public/fonts/IranNastaliq/IranNastaliq.eot?#") format("eot"),
    url("../../public/fonts/IranNastaliq/IranNastaliq.ttf") format("truetype"),
    url("../../public/fonts/IranNastaliq/IranNastaliq.woff") format("woff");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: BNazanin;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.select {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  background-color: #d3d3d3;
}
