
.mian_Connect_With_Manager {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 90%;
}

.main_inputs_Connect_With_Manager {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: space-between;
}

.main_inputs_Connect_With_Manager_containter {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  width: 40%;
  margin-right: 130px;
}

.IranNastaliq {
  font-family: IranNastaliq;
}

.top_Border_div {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #d3d3d3;
  height: 2.5%;
  z-index: 1000;
}

.main_Border_div {
  position: absolute;
  top: 30%;
  left: 2.5%;
  width: 95%;
  background-color: #d3d3d3;
  bottom: 30%;
  z-index: -1;
}

@media screen and (min-width: 1101px) {
  .content {
    direction: rtl;
    font-family: BNazanin;
    font-size: 20px;
  }

  .content li {
    margin-top: 20px;
    font-family: BNazanin;

  }
  .BorderDiv {
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    margin-right: 10px;
    background-color: #d3d3d3;
    cursor: pointer;
    /* padding-top:2px;
   
   padding-bottom: 2px; */
   padding-left: 25px;
   padding-right: 25px;
    font-size: 20px;
    /* display: flex; */
    /* justify-content: center;
   align-items: center;
   align-content: center; */
  }
  .bottom_Border_div {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #d3d3d3;
    height: 2.5%;
    z-index: 9000;
  }

  .header_font_size {
    font-size: 30px;
  }

  .main_div_in_index {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    color: black;
  }

  .relative_div_index {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
  .relative_div_index_image {
    position: absolute;
    top: 20%;
    width: 50%;
  }
  .relative_div_index_content {
    position: absolute;
    top: 20%;
    right: 0;
    width: 50%;
    width: 50%;
    height: fit-content;
  }
  .relative_div_index_content_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: BNazanin;
    margin-bottom: 50px;

  }
}

@media screen and (max-width: 1101px) {
  .content {
    direction: rtl;
    font-family: BNazanin;
    font-size: 15px;
  }

  .content li {
    margin-top: 20px;
    font-family: BNazanin;

  }

  .bottom_Border_div {
    position: fixed;
    z-index: 9000;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #d3d3d3;
    height: 2.5%;
  }

  .main_div_in_index {
    position: absolute;
    top: 110px;
    left: 5%;
    width: 90%;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
  }

  .relative_div_index {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .relative_div_index_image {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 10%;
  }
  .relative_div_index_content {
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .relative_div_index_content_header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: BNazanin;
    margin-bottom: 50px;

  }
}

@media screen and (max-width: 1101px) and (min-width: 544px) {
  .BorderDiv {
    border-radius: 12px 12px 12px 12px;
-webkit-border-radius: 12px 12px 12px 12px;
-moz-border-radius: 12px 12px 12px 12px;
    background-color: #d3d3d3;
    cursor: pointer;
    /* padding-top:2px;
   
   padding-bottom: 2px; */
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    /* display: flex; */
    /* justify-content: center;
   align-items: center;
   align-content: center; */
  }
  .relative_div_index_content_header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: BNazanin;
    margin-bottom: 50px;

  }
}

@media screen and (max-width: 544px) {
  .BorderDiv {
    border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    margin-right: 10px;
    background-color: #d3d3d3;
    cursor: pointer;
    /* padding-top:2px;
   
   padding-bottom: 2px; */
   padding-left: 25px;
   padding-right: 25px;
    font-size: 15px;
    /* display: flex; */
    /* justify-content: center;
   align-items: center;
   align-content: center; */
    width: fit-content;
    margin-bottom: 14px;
    margin:0 5px;
    margin-bottom: 10px;
  }
  .relative_div_index_content_header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: BNazanin;
    margin-bottom: 50px;
  }
}

@media screen and (min-height: 870px) {
  .connect_with_manager_relative_card {
    position: relative;
    top: 10%;
    bottom: 10%;
    width: 90%;
    left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
  }
  .Main_card {
    position: absolute;
    top: 15%;
    left: 25%;
    width: 50%;
    background-color: white;
    height: 70%;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;
  }
  .top_div_in_connect_with_manger {
    height: 30%;
    width: 80%;
    right: 0px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
  }
}
@media screen and (max-height: 870px) {
  .connect_with_manager_relative_card {
    position: relative;
    top: 10%;
    bottom: 10%;
    width: 95%;
    left: 2.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3%;
  }
  .Main_card {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 700px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;

  }
  .top_div_in_connect_with_manger {
    height: 30%;
    width: 80%;
    right: 0px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
  }
}

@media screen and (max-width: 1405px) and (min-width: 950px) {
  .top_div_in_connect_with_manger {
    height: 25%;
    width: 100%;
    right: 0px;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .text_field {
    height: 55%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 15%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;

  }
}
@media screen and (min-width: 1405px) {
  .top_div_in_connect_with_manger {
    height: 30%;
    width: 80%;
    right: 0px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
  }
  .text_field {
    height: 55%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
}

@media screen and (min-width: 2400px) {
  .top_div_in_connect_with_manger {
    height: 30%;
    width: 80%;
    right: 0px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 20px;
  }

  .text_field {
    height: 60%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 10%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;

  }
}
@media screen and (max-width: 2400px) and (min-width: 1405px) {
  .top_div_in_connect_with_manger {
    height: 25%;
    width: 80%;
    right: 0px;
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
  }

  .text_field {
    height: 55%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 15%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;

  }
}

@media screen and (max-width: 950px) and (min-width: 650px) {
  .Main_card {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 700px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;

  }

  .top_div_in_connect_with_manger {
    height: 35%;
    width: 100%;
    right: 0px;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_field {
    height: 40%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 15%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;

  }
  .card_header_manger_input {
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-top: 5px;
  }
  /* .header_font_size {
    font-size: large;
  } */
}
@media screen and (min-width: 950px) {
  .Main_card {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 700px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;

  }
  .top_div_in_connect_with_manger {
    height: 25%;
    width: 100%;
    right: 0px;
    margin-left: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .text_field {
    height: 55%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 15%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;

  }
  .card_header_manger_input {
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3%;
    position: relative;
    padding-top: 5px;
  }
}

@media screen and (max-width: 650px) {
  .Main_card {
    position: absolute;
    top: 25%;
    left: 2%;
    width: 96%;
    background-color: white;
    height: 700px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;

  }

  .top_div_in_connect_with_manger {
    height: 35%;
    width: 100%;
    right: 0px;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text_field {
    height: 40%;
    width: 100%;
    direction: rlt;
    justify-content: flex-end;
    font-size: 20px;
  }
  .button_in_connect_with_manger_div {
    height: 15%;
    width: 100%;
    font-family: BNazanin;
    margin-top: 20px;
    font-size:17px;
  }
  .card_header_manger_input {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    padding-top: 5px;
  }
}
/* header_in_card Heard*/
@media screen and (max-width: 1000px) {
  .header_in_card {
    position: absolute;
    top: 17px;
    font-weight: bold;
    font-size: 20px;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .header_in_card {
    position: absolute;
    top: 17px;
    font-weight: bold;
    font-size: 28px;
    width:100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;


  }
}

/* communicatinWithManager Header*/
@media screen and (max-width: 507px) {
  .image_Card {
    position: absolute;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .main_div_in_index {
    position: absolute;
    top: 200px;
    left: 10%;
    width: 80%;
    height: 70%;
    color: black;
  }
  .header_title_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 10px;
    position: absolute;
    top: 150px;
  }
}
@media screen and (min-width: 507px) {
  .image_Card {
    position: absolute;
    top: 3%;
    left: 2.5%;
    cursor: pointer;
  }
  .main_div_in_index {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    color: black;
  }
  .header_title_parent {
    display: flex;
    justify-content: center;
  }
  .header_title_parent h1 {
    position: absolute;
    top: 5%;
  }
}

@media screen and (min-width: 672px) {
  .main_div_in_index {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70%;
    color: black;
  }
}

@media screen and (max-width: 672px) and (min-width: 480px) {
  .main_div_in_index {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 70%;
    color: black;
  }
}

@media screen and (max-width: 900px) {
  .Main_cardSurvey {
    position: absolute;
    top: 200px;
    left: 2.5%;
    width: 95%;
    background-color: white;
    height: 1500px;
    z-index: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 15px;
  }
  .inner_main_div_card_flex_help {
    display: flex;
    flex-direction: row-reverse;
    height: 1400px;
    background-color: "blue";
    display: flex;
    flex-direction: column;
    font-size: 15px;
  }
  .left_main_div_in_servey_step_one {
    width: 100%;
    height: 40%;
  }
  .main_div_for_select_in_left_side_fof_servey {
    width: 100%;
    height: 50%;
  }
  .select_div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .input_right_side_servey_step_one_div2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .green_button_in_connect_with_manger2 {
    border-radius: 18px;
    background-color: #85c77d;
    border-color: white;
    color: white;
    box-shadow: none;
    cursor: pointer;

    width: 100px;
  }
}

@media screen and (min-width: 900px) {
  .Main_cardSurvey {
    position: absolute;
    top: 17%;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 70%;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 15px;


  }
  .inner_main_div_card_flex_help {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  .left_main_div_in_servey_step_one {
    width: 45%;
    height: 100%;
  }
  .main_div_for_select_in_left_side_fof_servey {
    width: 55%;
    height: 100%;
  }
  .select_div {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  .input_right_side_servey_step_one_div2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .green_button_in_connect_with_manger2 {
    border-radius: 18px;
    background-color: #85c77d;
    border-color: white;
    color: white;
    box-shadow: none;
    cursor: pointer;

    width: 100px;
  }
}

@media screen and (max-width: 1500px) and (min-width: 900px) {
  .Main_cardSurvey {
    position: absolute;
    top: 200px;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 1500px;
    z-index: 0;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 15px;


  }
  .inner_main_div_card_flex_help {
    display: flex;
    flex-direction: row-reverse;
    height: 1400px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  .left_main_div_in_servey_step_one {
    width: 90%;
    height: 40%;
    margin-left: 5%;
  }
  .main_div_for_select_in_left_side_fof_servey {
    width: 90%;
    height: 50%;
    margin-left: 5%;
  }
  .select_div {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  .input_right_side_servey_step_one_div2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .green_button_in_connect_with_manger2 {
    border-radius: 18px;
    background-color: #85c77d;
    border-color: white;
    color: white;
    box-shadow: none;
    cursor: pointer;

    width: 100px;
  }
}

@media screen and (min-width: 1500px) {
  .Main_cardSurvey {
    position: absolute;
    top: 12%;
    left: 12.5%;
    width: 75%;
    background-color: white;
    height: 80%;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;


  }
  .inner_main_div_card_flex_help {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }
  .left_main_div_in_servey_step_one {
    width: 45%;
    height: 100%;
  }
  .main_div_for_select_in_left_side_fof_servey {
    width: 55%;
    height: 100%;
  }
  .select_div {
    display: flex;
    justify-content: space-between;
    width: 100%;

  }
  .input_right_side_servey_step_one_div2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .inner_top_rigth_div_in_servey_step_one {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .green_button_in_connect_with_manger2 {
    border-radius: 18px;
    background-color: #85c77d;
    border-color: white;
    color: white;
    box-shadow: none;
    cursor: pointer;

    width: 100px;
  }
}

@media screen and (min-width: 730px) {
  .Main_cardSurveyST {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    background-color: white;
    height: 70%;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    font-size: 17px;


  }
  .div_help_flex_rating {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
  }
  .right_div_rating_in_main {
    width: 50%;
    height: 100%;
  }

  .left_div_rating_in_main {
    width: 50%;
    height: 100%;
  }

  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
@media screen and (max-width: 730px) {
  .Main_cardSurveyST {
    position: absolute;
    top: 200px;
    left: 2%;
    width: 96%;
    background-color: white;
    height: 1000px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
    text-align: right;
    font-size: 15px;

  }
  .div_help_flex_rating {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
  }
  .right_div_rating_in_main {
    width: 100%;
    height: 40%;
  }
  .left_div_rating_in_main {
    width: 100%;
    height: 50%;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .button_in_step_one_div {
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
  }
}

.input_connect_with_manager_div {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
.input_connect_with_manager {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  background-color: #d3d3d3;
  text-align:right;
}

.connect_with_manager_relative_main_card {
  padding: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  background-color: white;
  height: 70%;
  z-index: 2;

  border-radius: 8px;
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.37);
}

.top_inputs_div_in_connect_with_manger {
  height: 30%;
  width: 80%;
  right: 0px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.textArea_in_connect_with_manger {
  height: 380%;
  border-radius: 5px;
  background-color: #d3d3d3;
  margin-top: 2%;
}

.bottom_car_in_connect_with_manger {
  height: 60%;
  width: 100%;
  display: rtl;
}

.green_button_in_connect_with_manger {
  border-radius: 18px;
  background-color: #85c77d;
  border-color: white;
  color: white;
  box-shadow: none;
  width: 100px;
  cursor: pointer;
}

.red_button_in_connect_with_manger {
  border-radius: 18px;
  background-color: #ee7d7d;
  border-color: white;
  color: white;
  box-shadow: none;
  cursor: pointer;

  width: 100px;
}

.servey_step_one_main_Car_relative {
  position: relative;
  top: 8%;
  bottom: 10%;
  width: 96%;
  left: 2%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 15px;
}

.top_rigth_div_in_servey_step_one {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 20%;
  align-items: flex-end;
}

.bottom_rigth_div_in_servey_step_one {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 80%;

  align-items: flex-end;
}

.input_right_side_servey_step_one_div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input_right_side_servey_step_one {
  height: 100%;
  width: 50%;
  border-radius: 5px;
  background-color: #d3d3d3;
}

.main_div_for_select_in_left_side_fof_servey_flex_help {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  align-items: flex-end;
}

.select_style {
  width: 30%;
  height: 100%;
  border-radius: 5px;
}
.select_style2 {
  width: 30%;
  height: 100%;
  border-radius: 5px;
  /* background-color: #D3D3D3; */
}
.select_label {
  direction: rtl;
  width: 50%;
}

.radio_div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.radio_input {
  width: 50%;
  height: 100%;
  border-radius: 5px;
}

.radio_label {
  display: rtl;
  width: 50%;
  justify-content: flex-end;
}

.rating_relative_div {
  position: relative;
  top: 40px;
  bottom: 10px;
  width: 96%;
  left: 2%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.rating_inner_div {
  height: 93%;
  display: flex;
  flex-direction: column;
}

.rating_div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: fit-content;
  margin-top: 20px;
}

.left_rating_div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40px;
}

.full_width {
  width: 100%;
  background-color: #d3d3d3;
  border-radius: 8px;
  border-color: none;
}

.Image_height_and_width {
  height: 150px;
  width: 150px;
}

.Bnazanin_font_family {
  font-family: BNazanin;
}

.Bnazanin_font_family_with_font_size {
  font-family: BNazanin;
  font-size:15px;
}


@media screen and (min-width: 440px) {
  .font_size_in_servey_step_two{
    font-size: 30px;
    
  }
}
@media screen and (max-width: 440px) {
  .font_size_in_servey_step_two{
    font-size: 22px;
    
  }
}

